* {
    margin: 0px;
    padding: 0px;
}

html {
    color: blue;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-weight: bold;
    font-size: 20px;
}

body {
    position: absolute;
    left: 30%;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.gallery {
    width: 100%;
    list-style: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: RGB(250, 128, 114);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-top: 5px dashed RGB(0, 98, 255);
}

.footer p {
    font-size: 20px;
    font-family: "Helvetica Neue";
    text-transform: uppercase;
}

.btn {
    position: absolute;
    left: 35%;
}

.Red-Cross {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    font-weight: bold;
    text-align: center;
    font-size: 100px;
    opacity: 0;
}

.Red-Cross::after {
    content: "X";
    color: red;
}